*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --color-primary: #586B95;
    --color-secondary: #864752;
    --color-text: #2C2C2C;
    --font-family-text: 'Roboto', sans-serif;
}

body {
    margin: 0;
    font-family: var(--font-family-text);
    font-weight: 300;
    font-size: 0.95rem;
    line-height: 1.6;
}

main {
    text-align: center;
    margin: 1rem auto;
}

.profile {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 10rem;
    height: 10rem;
}

.wrapper {
    margin-left: 2rem;
    margin-right: 2rem;
}

.name {
    color: var(--color-primary);
    font-style: normal;
    font-size: 1.7rem;
}

.role {
    color: var(--color-secondary);
    font-size: 1rem;
    font-style: normal;
}

.icon-image {
    width: 3rem;
    height: 3rem;
}

.link-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-item {
    list-style: none;
    margin: 0 1rem;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        font-size: 1.5rem;
    }

    main {
        margin: 3rem auto;
    }

    .profile {
        width: 12.5rem;
        height: 12.5rem;
    }

    .wrapper {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .name {
        font-size: 3.5rem;
    }

    .role {
        font-size: 2rem;
    }

    .icon-image {
        width: 5rem;
        height: 5rem;
    }
}
@media only screen and (min-width: 992px) {
    body {
        font-size: 1.85rem;
    }

    main {
        margin: 5rem auto;
    }

    .profile {
        width: 12.5rem;
        height: 12.5rem;
    }

    .wrapper {
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .name {
        font-size: 3.85rem;
    }

    .role {
        font-size: 2.75rem;
    }

    .icon-image {
        width: 5rem;
        height: 5rem;
    }
}